[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */setup.py

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    def _create_env*
